body{
    background-color: transparent;
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

.nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    float:right;
    top:100%;
    
}
.navbar-center{
    background-image:url(../Images/landmarks-modern-city.jpg);
    background-position: contain;
    background-size:cover;
    width:1800px;
    height:1000px;
    display:flex;
    flex-direction: column;
    top:0px;
    bottom:700px;
    text-transform: capitalize;
    padding:15px;
    margin:12px;
    position: relative;
    align-items: center;
}


.navbar-centre h1{
    background-color: transparent;
    color:red;

}
.navbar-centre img{
    vertical-align:middle;
}
.para1{
    width:1800px;
    height:500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    top:300px;
    bottom:0px;
    position:relative;
    background: rgb(0, 0, 0, 0.0);
    align-items: center;
    
}

.register-image{
    background-image: url(../Images/register-page.webp);
    background-size: cover;
    background-position: center;
    width:1800px;
    height: 1200px;
    display:flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: center;
    padding:20px;
}

.register{
    width:700px;
    height:1000px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: burlywood;
    color:black;
    padding:20px;
    margin:12px;
    text-transform: capitalize;
    align-items: center;
    font-size: 14px;
}

.navbar-centre image{
    vertical-align:top;
   
}

.image1::before{
content:"To Start the journey with us which you will Love to!"; 
     position:relative;
     bottom:100%;
     white-space:initial;
     top : 50%;
     transform: translateX(100%);
     font-weight: bold;
     font-size: 50px;
}
.button1{
   

    width:350px;
    height:40px;
display:flex;
flex-direction:column-reverse;
margin:12px;
background-color: red;
color:black;
margin:10px;
border:100px;
align-items: center;
justify-content: center;
align-content: center;


}

.button1:hover{
    background-color: brown;
    color:wheat;
    cursor:pointer;
    list-style-type: none;
}
.nav li{
    list-style-type: none;
    display:inline-block;
    text-align:center;
        padding:20px;
        margin:10px;
}

.nav li:hover{
    background-color: red;
    color:antiquewhite;
    cursor:pointer;
}
.form-image{
    background-image: url(../Images/loginpage-image.jpeg);
    background-position: center;
    background-size: cover;
    width:1800px;
    height: 1000px;
    display:flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: center;
    padding:20px;

}

.login{
    width:700px;
    height:800px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: azure;
    color:black;
    padding:20px;
    margin:12px;
    text-transform: capitalize;
    align-items: center;
}


    input[type=text]{
        font-size:16px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 15px;
        width:350px;
        height:20px ;
        padding:15px;
        margin:10px;
        border:100px;
        border-top:20px;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        align-content: space-between;
    }
.link{
    bottom:100%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}
.button2{
    width:350px;
        height:20px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin:12px;
    background-color: black;
    color:white;
    margin:10px;
    border:100px;
}

/*@media screen and (min-width: 1000px) {
    body {
      background-color: transparent;
      text-align: center;
      display: flex;
      
      
    }
  }*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    width:700px;
    height:200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    line-height: 10px;
text-transform: capitalize;
    justify-content: space-around;
    align-content: space-around;
    font-size: 14px;
    font-weight: 600;
border:100px;
padding:10px;
margin:10px;
    


}

input[type=text] {
    font-size:14px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 10px;
    width:300px;
    height:50px ;
    padding:10px;
    border-left:40px;
    padding-left:40px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    align-content: space-between;

    
  
}

label{

  /*  color:white;
    padding:12px;
    height:20px;
    width:120px;
    margin:10px;
    border:100px;
    line-height: 8px;
    font-size: 8px;
    font-weight: 700;
    text-transform: capitalize;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;*/

    font-size:16px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 10px;
    width:250px;
    height:30px ;
    padding:15px;
    margin:15px;
    border:100px;
    border-left:40px;
    padding-left:40px;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
/*@media screen and (min-width: 1800px) {
    body {
      background-color: transparent;
      text-align: center;
      display: flex;
      
      
    }
  }*/
.button3{
    width:250px;
        height:100px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:8px;
    background-color: black;
    color:white;
    border:100px;
}

.button3:hover{
    background-color: brown;
    color:red;
    cursor:pointer;

}



.image{
    background-image: url(../Images/landmarks-modern-city.jpg);
    background-size: cover;
    background-position: center;
    width:1800px;
    height: 700px;
    display:flex;
    flex-direction: column;
    color:black;
    font-size:25px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;

   
}
.image h3::after{
    content:"Congratulations! You have been registered to our company. You will get a callback from our staff soon.";
    position:relative;
     top:100%;
     white-space:initial;
     top : 300%;
     transform: translateX(100%);
     font-weight: bold;
     font-size: 50px;
     text-align: center;
}
@media screen and (min-width: 1800px) {
    body {
      background-color: transparent;
    
      
      
    }
  }
.footer{
   background-image: url(../Images/footer-image2.jpg);
   background-size: contain;
   background-position: bottom;
   width:1800px;
   height:300px;
   display:flex;
  
   flex-direction: row;
   align-content: space-between;
   justify-content: space-between;
   flex-wrap: nowrap;
}
.Contact{
    width:300px;
    height:300px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.Contact h3{
    text-align: center;
}
.Contact li{
    list-style-type: none;
    cursor:pointer;
}

.About{
    width:700px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;

}
.About h3{
    text-align: center;
}
.About:hover{
    cursor: pointer;
}

.creator{
    width:400px;
    height: 3   00px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.creator h3{text-align: center;}
.creator li{
    list-style-type: none;
    cursor:pointer;
}